DB_USERNAME=<database.username>
DB_PASSWORD=<database.password>
DB_NAME=<database.name>
JWT_SECRET=<jwt.secret>
CLOUDINARY_CLOUD_NAME=<cloudinary.cloud.name>
CLOUDINARY_API_KEY=<cloudinary.api.key>
CLOUDINARY_API_SECRET=<cloudinary.api.secret>